#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 {
  position: absolute;
  width: 1366.0px;
  min-height: 113.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 span#rtr-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Table_4 {
  position: absolute;
  width: 665.3489195899836px;
  height: 52.35714285714312px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .verticalalign {
  vertical-align: middle;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 {
  width: 21.342185403638503%;
  height: 99.99999999999962%;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .Cell_155 > * {
  margin-right: 40px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .Cell_155 > *:last-child {
  margin-right: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_60 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_60 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_60 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_60 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_60 span#rtr-Paragraph_60_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_87 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_87 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_87 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_87 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_87 span#rtr-Paragraph_87_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .verticalalign {
  vertical-align: middle;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 {
  width: 21.34218540363851%;
  height: 99.99999999999962%;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .Cell_156 > * {
  margin-right: 40px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .Cell_156 > *:last-child {
  margin-right: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_3 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_3 span#rtr-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_2 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_2 span#rtr-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .verticalalign {
  vertical-align: middle;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 {
  width: 21.342185403638503%;
  height: 99.99999999999962%;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .Cell_157 > * {
  margin-right: 40px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .Cell_157 > *:last-child {
  margin-right: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_88 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_88 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_88 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_88 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_88 span#rtr-Paragraph_88_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_4 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_4 span#rtr-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .verticalalign {
  vertical-align: middle;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 {
  width: 21.342185403638503%;
  height: 99.99999999999962%;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .Cell_158 > * {
  margin-right: 40px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .Cell_158 > *:last-child {
  margin-right: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_89 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_89 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_89 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_89 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_89 span#rtr-Paragraph_89_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_5 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_5 span#rtr-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .verticalalign {
  vertical-align: middle;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 {
  width: 14.631258385445935%;
  height: 99.99999999999962%;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .Cell_159 > * {
  margin-right: 46px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .Cell_159 > *:last-child {
  margin-right: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_90 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_90 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_90 .valign {
  vertical-align: top;
  text-align: left;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_90 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_90 span#rtr-Paragraph_90_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Image_1 {
  position: absolute;
  width: 85.99999999999977px;
  height: 85.99999999999976px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_3 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_87 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_2 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .Cell_157 > *:last-child {
  margin-right: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 {
  width: 21.342185403638503%;
  height: 99.99999999999962%;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_90 span#rtr-Paragraph_90_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_3 span#rtr-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 {
  width: 21.34218540363851%;
  height: 99.99999999999962%;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .Cell_158 > *:last-child {
  margin-right: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_88 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_90 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .verticalalign {
  vertical-align: middle;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .verticalalign {
  vertical-align: middle;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Table_4 {
  position: absolute;
  width: 665.3489195899836px;
  height: 52.35714285714312px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_60 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_89 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_88 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_5 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .Cell_157 > * {
  margin-right: 40px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Image_1 {
  position: absolute;
  width: 85.99999999999977px;
  height: 85.99999999999976px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_87 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .Cell_159 > *:last-child {
  margin-right: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_87 span#rtr-Paragraph_87_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .verticalalign {
  vertical-align: middle;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_87 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_2 span#rtr-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 {
  width: 21.342185403638503%;
  height: 99.99999999999962%;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_4 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_90 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .Cell_155 > * {
  margin-right: 40px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 {
  width: 14.631258385445935%;
  height: 99.99999999999962%;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_89 span#rtr-Paragraph_89_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_89 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 {
  width: 21.342185403638503%;
  height: 99.99999999999962%;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_88 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_4 span#rtr-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_88 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .Cell_156 > * {
  margin-right: 40px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .verticalalign {
  vertical-align: middle;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 span#rtr-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .verticalalign {
  vertical-align: middle;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_157 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_60 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_87 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_88 span#rtr-Paragraph_88_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_89 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_90 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Rectangle_5 {
  position: absolute;
  width: 1366.0px;
  min-height: 113.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_155 .Cell_155 > *:last-child {
  margin-right: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .Cell_158 > * {
  margin-right: 40px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_60 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_5 span#rtr-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_90 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_156 .Cell_156 > *:last-child {
  margin-right: 0px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_158 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_89 .valign {
  vertical-align: top;
  text-align: left;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Cell_159 .Cell_159 > * {
  margin-right: 46px;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_60 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_60 span#rtr-Paragraph_60_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
.m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b #Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
}
#loadMark-m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-18ed1fea-2249-4bbb-95db-351c0f6a6b2b.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}