#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 {
  position: absolute;
  width: 240.0px;
  min-height: 527.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 4px rgba(64,64,64,0.15));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 span#rtr-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Table_2 {
  position: absolute;
  width: 240.0px;
  height: 382.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 td.layout {
  padding: 0px 0px 0px 14px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 {
  width: 100.00000000000011%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_7 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_7 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_7 span#rtr-Paragraph_7_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_9 {
  width: 22.0px;
  height: 16.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 td.layout {
  padding: 0px 0px 0px 15px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .Cell_60 > * {
  margin-right: 25px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .Cell_60 > *:last-child {
  margin-right: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_10 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_10 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_10 span#rtr-Paragraph_10_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_8 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_8 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_8 span#rtr-Paragraph_8_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_11 {
  width: 18.0px;
  height: 18.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 td.layout {
  padding: 0px 0px 0px 15px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_12 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_12 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_12 span#rtr-Paragraph_12_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 {
  width: 100.00000000000011%;
  height: 3.9267015706806254%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_13 {
  width: 185.2928924560547px;
  height: 2.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 td.layout {
  padding: 0px 0px 0px 14px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 {
  width: 100.00000000000011%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_9 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_9 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_9 span#rtr-Paragraph_9_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_14 {
  width: 19.458663940429688px;
  height: 20.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 td.layout {
  padding: 0px 0px 0px 15px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_14 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_14 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_14 span#rtr-Paragraph_14_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_16 {
  width: 19.998876571655273px;
  height: 19.99887466430664px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 td.layout {
  padding: 0px 0px 0px 15px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_16 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_16 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_16 span#rtr-Paragraph_16_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_17 {
  width: 17.998783111572266px;
  height: 18.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 td.layout {
  padding: 0px 0px 0px 15px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_17 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_17 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_17 span#rtr-Paragraph_17_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 {
  width: 100.00000000000011%;
  height: 3.926701570680619%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_18 {
  width: 185.2928924560547px;
  height: 2.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_19 {
  width: 18.0px;
  height: 18.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 td.layout {
  padding: 0px 0px 0px 15px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 .verticalalign {
  vertical-align: middle;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_18 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_18 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_18 span#rtr-Paragraph_18_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_16 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_17 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_10 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_1 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_2 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_3 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_4 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_8 span#rtr-Paragraph_8_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 td.layout {
  padding: 0px 0px 0px 14px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_12 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_19 {
  width: 18.0px;
  height: 18.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_9 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 {
  position: absolute;
  width: 240.0px;
  min-height: 527.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 4px rgba(64,64,64,0.15));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_13 {
  width: 185.2928924560547px;
  height: 2.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_10 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_14 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_10 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_16 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 {
  width: 100.00000000000011%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 td.layout {
  padding: 0px 0px 0px 15px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 td.layout {
  padding: 0px 0px 0px 15px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 {
  width: 100.00000000000011%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_1 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_12 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_16 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_7 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_4 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_9 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_17 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_14 span#rtr-Paragraph_14_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_10 span#rtr-Paragraph_10_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_8 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_9 span#rtr-Paragraph_9_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 td.layout {
  padding: 0px 0px 0px 15px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_8 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_17 {
  width: 17.998783111572266px;
  height: 18.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_16 {
  width: 19.998876571655273px;
  height: 19.99887466430664px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_79 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_18 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .Cell_60 > *:last-child {
  margin-right: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_14 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 td.layout {
  padding: 0px 0px 0px 14px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_58 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_18 {
  width: 185.2928924560547px;
  height: 2.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_7 span#rtr-Paragraph_7_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_14 {
  width: 19.458663940429688px;
  height: 20.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 td.layout {
  padding: 0px 0px 0px 15px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_17 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_10 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 {
  width: 100.00000000000011%;
  height: 3.9267015706806254%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_78 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_9 {
  width: 22.0px;
  height: 16.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 span#rtr-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_18 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Path_11 {
  width: 18.0px;
  height: 18.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 td.layout {
  padding: 0px 0px 0px 15px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_67 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 {
  width: 79.29334428923592%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Table_2 {
  position: absolute;
  width: 240.0px;
  height: 382.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_73 {
  width: 20.706655710764196%;
  height: 11.518324607329836%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 .verticalalign {
  vertical-align: middle;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_64 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_68 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 {
  width: 100.00000000000011%;
  height: 3.926701570680619%;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_69 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_75 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_76 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_16 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 .Cell_60 > * {
  margin-right: 25px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_18 span#rtr-Paragraph_18_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 td.layout {
  padding: 0px 0px 0px 15px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_17 span#rtr-Paragraph_17_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_16 span#rtr-Paragraph_16_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_7 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_70 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_74 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_77 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_2 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_60 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_12 span#rtr-Paragraph_12_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_3 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Hotspot_17 {
  position: absolute;
  width: 236.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_63 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 #Cell_59 .verticalalign {
  vertical-align: middle;
}
#loadMark-m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50 {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-7c264bc6-6ea8-4be1-a7be-6fd6b06f4b50.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}