#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 {
  position: absolute;
  width: 187.0px;
  min-height: 141.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 4px rgba(64,64,64,0.15));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 span#rtr-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Table_1 {
  position: absolute;
  width: 187.0px;
  height: 131.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 .verticalalign {
  vertical-align: middle;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 {
  width: 20.706655710764196%;
  height: 33.333333333333364%;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Path_3 {
  width: 18.0px;
  height: 20.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 td.layout {
  padding: 0px 0px 0px 15px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .verticalalign {
  vertical-align: middle;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 {
  width: 79.29334428923592%;
  height: 33.333333333333364%;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .Cell_91 > * {
  margin-right: 25px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .Cell_91 > *:last-child {
  margin-right: 0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_2 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_2 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_2 span#rtr-Paragraph_2_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 .verticalalign {
  vertical-align: middle;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 {
  width: 20.706655710764196%;
  height: 33.333333333333364%;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Path_4 {
  width: 22.0px;
  height: 16.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 td.layout {
  padding: 0px 0px 0px 15px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .verticalalign {
  vertical-align: middle;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 {
  width: 79.29334428923592%;
  height: 33.333333333333364%;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .Cell_93 > * {
  margin-right: 25px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .Cell_93 > *:last-child {
  margin-right: 0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_3 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_3 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_3 span#rtr-Paragraph_3_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 td.layout {
  padding: 0px 0px 0px 0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 .verticalalign {
  vertical-align: middle;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 {
  width: 20.706655710764196%;
  height: 33.333333333333364%;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_1 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_1 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_1 span#rtr-Paragraph_1_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Path_6 {
  width: 18.0px;
  height: 18.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 td.layout {
  padding: 0px 0px 0px 15px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 .verticalalign {
  vertical-align: middle;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 {
  width: 79.29334428923592%;
  height: 33.333333333333364%;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_5 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_5 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_5 span#rtr-Paragraph_5_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Hotspot_6 {
  position: absolute;
  width: 183.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Hotspot_5 {
  position: absolute;
  width: 183.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Hotspot_1 {
  position: absolute;
  width: 183.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 {
  width: 20.706655710764196%;
  height: 33.333333333333364%;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_3 span#rtr-Paragraph_3_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 {
  width: 79.29334428923592%;
  height: 33.333333333333364%;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 .verticalalign {
  vertical-align: middle;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 {
  width: 20.706655710764196%;
  height: 33.333333333333364%;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 .verticalalign {
  vertical-align: middle;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_1 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 .verticalalign {
  vertical-align: middle;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_5 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_2 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .Cell_93 > * {
  margin-right: 25px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 {
  position: absolute;
  width: 187.0px;
  min-height: 141.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-1.2246467991473532E-16px 2.0px 4px rgba(64,64,64,0.15));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .Cell_91 > * {
  margin-right: 25px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .verticalalign {
  vertical-align: middle;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 > .borderLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Hotspot_6 {
  position: absolute;
  width: 183.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 {
  width: 79.29334428923592%;
  height: 33.333333333333364%;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Path_4 {
  width: 22.0px;
  height: 16.0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .verticalalign {
  vertical-align: middle;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Path_6 {
  width: 18.0px;
  height: 18.0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 {
  width: 79.29334428923592%;
  height: 33.333333333333364%;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 4.0px;
  border-top-right-radius: 4.0px;
  border-bottom-right-radius: 4.0px;
  border-bottom-left-radius: 4.0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Hotspot_1 {
  position: absolute;
  width: 183.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 .verticalalign {
  vertical-align: middle;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_5 span#rtr-Paragraph_5_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .Cell_93 > *:last-child {
  margin-right: 0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_3 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_2 span#rtr-Paragraph_2_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_92 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_1 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Hotspot_5 {
  position: absolute;
  width: 183.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .Cell_91 > *:last-child {
  margin-right: 0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_3 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_2 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_90 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_1 span#rtr-Paragraph_1_0 {
  color: #212529;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_5 span {
  color: #212529;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_93 td.layout {
  padding: 0px 0px 0px 15px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 td.layout {
  padding: 0px 0px 0px 0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Table_1 {
  position: absolute;
  width: 187.0px;
  height: 131.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Path_3 {
  width: 18.0px;
  height: 20.0px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Rectangle_2 span#rtr-Rectangle_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_91 td.layout {
  padding: 0px 0px 0px 15px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_97 td.layout {
  padding: 0px 0px 0px 15px;
}
.m-c6ea69df-81be-4881-a8ce-e84662c7d36c #Cell_96 {
  width: 20.706655710764196%;
  height: 33.333333333333364%;
}
#loadMark-m-c6ea69df-81be-4881-a8ce-e84662c7d36c {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-c6ea69df-81be-4881-a8ce-e84662c7d36c.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}