/* start iPhone 14 Pro Max css values*/
body.iphone14promax #jim-mobile { position:relative; top:0px; left:0px; width:479px; height:974.5px; margin:auto; }
body.iphone14promax #jim-case { background-image: url("../../../../../images/mobile/ios/ios15/iphone14promax@2x.png"); height:974.5px; width:479px; background-size:100% auto; z-index:100; /*must be over keyboards and comment bubbles*/ position:absolute; pointer-events:none; }
body.iphone14promax #jim-mobile #simulation { position: relative; height: 100%; overflow:hidden; }
body.iphone14promax #jim-mobile .ui-page { overflow:hidden; }

/* orientation values */
body.iphone14promax #jim-mobile.landscape { height:479px; width:974.5px; }
body.iphone14promax #jim-case.portrait { transform:rotate(0deg); transform-origin:auto; }
body.iphone14promax #jim-case.landscape { top:-1px; left:4px; transform:rotate(-90deg); transform-origin:56% 25% 0; }
body.iphone14promax #jim-container { clip-path: inset(0px round 55px); }
body.iphone14promax #jim-container.portrait { position: absolute; top: 20.5px; left: 24px; width: 430px; height: 932px; }
body.iphone14promax #jim-container.landscape { position: absolute; top: 27px; left: 19px; width: 932px; height: 430px; }
