#s-2e97c58d-5807-4070-9648-3770ae26f7af > #backgroundBox {
  position: absolute;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_1 {
  position: absolute;
  width: 432.99999999999955px;
  min-height: 795.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,94,91,0.57);
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Image_2 .imageViewport > * {
  width: 140.46607556487075%;
  height: 447.91408847984746%;
  left: -23.2573249150883%;
  top: -169.22206459079183%;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Image_2 {
  position: absolute;
  width: 474.1892546581689px;
  height: 83.64711399320458px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_4 {
  position: absolute;
  width: 400.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_4 {
  position: absolute;
  width: 230.48000000000002px;
  min-height: 25.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Image_3 {
  position: absolute;
  width: 35.36288254170685px;
  height: 35.36288254170676px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_2 {
  position: absolute;
  width: 400.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_2 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Image_4 {
  position: absolute;
  width: 35.36px;
  height: 35.36000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_2 {
  position: absolute;
  width: 230.48000000000002px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_3 {
  position: absolute;
  width: 400.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_3 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Image_5 {
  position: absolute;
  width: 35.36px;
  height: 35.359999999999985px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_1 {
  position: absolute;
  width: 230.48000000000002px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_5 {
  position: absolute;
  width: 400.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_5 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_5 {
  position: absolute;
  width: 230.48000000000002px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_3 {
  position: absolute;
  width: 87.4800000000003px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_6 {
  position: absolute;
  width: 87.4800000000003px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_7 {
  position: absolute;
  width: 87.4800000000003px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_8 {
  position: absolute;
  width: 87.4800000000003px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Image_6 {
  position: absolute;
  width: 35.36px;
  height: 35.36000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-bigTitle {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Comic Sans MS',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-bigTitle .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-bigTitle .valign {
  vertical-align: middle;
  text-align: left;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-bigTitle span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-bigTitle span#rtr-s-bigTitle_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Comic Sans MS',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Path_1 {
  position: absolute;
  width: 26.637739181518555px;
  height: 21.493881225585938px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Image_1 {
  position: absolute;
  width: 423.20398009950173px;
  height: 224.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Image_7 {
  position: absolute;
  width: 88.00000000000011px;
  height: 88.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_9 {
  position: absolute;
  width: 73.00000000000006px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2e97c58d-5807-4070-9648-3770ae26f7af > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}