#s-30d82300-1442-48c0-acc0-e90fb9dae462 > #backgroundBox {
  position: absolute;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Button_1 {
  position: absolute;
  width: 103.726890377193px;
  min-height: 40.94971649534676px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #7736DB;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Button_1 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Hotspot_3 {
  position: absolute;
  width: 122.67267307499122px;
  height: 54.19815418501774px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_19 {
  position: absolute;
  width: 26.637739181518555px;
  height: 21.493881225585938px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_1 {
  position: absolute;
  width: 407.47113037109375px;
  height: 4.32037353515625px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_2 {
  position: absolute;
  width: 407.47113037109375px;
  height: 4.32037353515625px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_3 {
  position: absolute;
  width: 407.47113037109375px;
  height: 4.32037353515625px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_4 {
  position: absolute;
  width: 407.47113037109375px;
  height: 4.32037353515625px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_5 {
  position: absolute;
  width: 407.47113037109375px;
  height: 4.32037353515625px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_6 {
  position: absolute;
  width: 24.543243408203125px;
  height: 22.592422485351562px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_1 {
  position: absolute;
  width: 165.285285827356px;
  min-height: 24.303916800265938px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_1 span {
  color: #AEB2C8;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #AEB2C8;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_7 {
  position: absolute;
  width: 12.051549911499023px;
  height: 10.956748962402344px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_8 {
  position: absolute;
  width: 12.051719665527344px;
  height: 10.956903457641602px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_9 {
  position: absolute;
  width: 32.42008590698242px;
  height: 15.932518005371094px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_2 {
  position: absolute;
  width: 167.86786841840842px;
  min-height: 24.30391680026605px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_2 span {
  color: #AEB2C8;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #AEB2C8;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_10 {
  position: absolute;
  width: 29.345592498779297px;
  height: 27.663915634155273px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_3 {
  position: absolute;
  width: 117.81740519354608px;
  min-height: 27.775904914590456px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_3 span {
  color: #AEB2C8;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #AEB2C8;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_11 {
  position: absolute;
  width: 30.20107650756836px;
  height: 17.400794982910156px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_12 {
  position: absolute;
  width: 8.62890625px;
  height: 7.7337188720703125px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_4 {
  position: absolute;
  width: 140.75075121235787px;
  min-height: 25.46124617170767px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_4 span {
  color: #AEB2C8;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #AEB2C8;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_13 {
  position: absolute;
  width: 22.182601928710938px;
  height: 27.918575286865234px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_14 {
  position: absolute;
  width: 11.741287231445312px;
  height: 10.658096313476562px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_5 {
  position: absolute;
  width: 139.45945991683166px;
  min-height: 25.46124617170767px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_5 span {
  color: #AEB2C8;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #AEB2C8;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_15 {
  position: absolute;
  width: 26.887107849121094px;
  height: 24.097768783569336px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_16 {
  position: absolute;
  width: 5.570106506347656px;
  height: 11.818603515625px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_6 {
  position: absolute;
  width: 87.80780809578295px;
  min-height: 25.461246171707728px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_6 span {
  color: #272D4D;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #272D4D;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_7 {
  position: absolute;
  width: 125.90439668009816px;
  min-height: 25.46124617170784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: right;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_7 span {
  color: #272D4D;
  text-align: right;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #272D4D;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_8 {
  position: absolute;
  width: 87.80780809578295px;
  min-height: 25.46124617170784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_8 span {
  color: #272D4D;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #272D4D;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_9 {
  position: absolute;
  width: 103.30330364209766px;
  min-height: 25.461246171707785px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: right;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_9 span {
  color: #272D4D;
  text-align: right;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #272D4D;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_10 {
  position: absolute;
  width: 61.981982185258346px;
  min-height: 25.4612461717075px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_10 span {
  color: #272D4D;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #272D4D;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_11 {
  position: absolute;
  width: 89.25357208286772px;
  min-height: 25.4612461717075px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: right;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_11 span {
  color: #272D4D;
  text-align: right;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #272D4D;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_12 {
  position: absolute;
  width: 87.80780809578295px;
  min-height: 25.4612461717079px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_12 span {
  color: #272D4D;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #272D4D;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_13 {
  position: absolute;
  width: 165.31217716734062px;
  min-height: 25.4612461717079px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: right;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_13 span {
  color: #272D4D;
  text-align: right;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #272D4D;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 300;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Rectangle_2 {
  position: absolute;
  width: 6.4564564776312565px;
  min-height: 31.24789302891395px;
  -webkit-transform: rotate(180.0deg);
  -moz-transform: rotate(180.0deg);
  transform: rotate(180.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 0.0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #AEB2C8;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 0.0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 3.0px;
  border-bottom-right-radius: 3.0px;
  border-bottom-left-radius: 0.0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Input_1 input::-webkit-input-placeholder {
  color: #AEB2C8;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Input_1 input::-moz-placeholder {
  color: #AEB2C8;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Input_1 input:-moz-placeholder {
  color: #AEB2C8;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Input_1 input:-ms-input-placeholder {
  color: #AEB2C8;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Input_1 {
  position: absolute;
  width: 290.5405414934004px;
  height: 37.034539886120285px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Input_1 .valign {
  vertical-align: top;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Input_1 input {
  color: #AEB2C8;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 18.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 #s-Path_63 {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-30d82300-1442-48c0-acc0-e90fb9dae462 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}