#s-5312287d-6226-41b0-921c-ba4c19a11583 > #backgroundBox {
  position: absolute;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_1 {
  position: absolute;
  width: 421.99999999999943px;
  min-height: 753.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 30.0px;
  border-top-right-radius: 30.0px;
  border-bottom-right-radius: 30.0px;
  border-bottom-left-radius: 30.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_3 {
  position: absolute;
  width: 421.99999999999955px;
  min-height: 63.49999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-bigTitle {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-bigTitle .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-bigTitle .valign {
  vertical-align: top;
  text-align: left;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-bigTitle span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 15.0pt;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-bigTitle span#rtr-s-bigTitle_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 15.0pt;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 15.0pt;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 15.0pt;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Path_328 {
  position: absolute;
  width: 45.0px;
  height: 48.75px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Path_1 {
  position: absolute;
  width: 26.637739181518555px;
  height: 21.493881225585938px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Website_3 {
  position: absolute;
  width: 404.99999999999955px;
  height: 688.9999999999993px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Path_181 {
  position: absolute;
  width: 38.18000030517578px;
  height: 50.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Connector_text_1 {
  position: absolute;
  width: 104.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Connector_text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Connector_text_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Connector_text_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
  line-height: 20px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Connector_text_1 span#rtr-s-Connector_text_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 10.5pt;
  line-height: 20px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-textBlock {
  position: absolute;
  width: 400.0px;
  min-height: 180.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-textBlock .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-textBlock .valign {
  vertical-align: top;
  text-align: left;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-textBlock span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
  line-height: 18px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-textBlock span#rtr-s-textBlock_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
  line-height: 18px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_5 {
  position: absolute;
  width: 400.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_5 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_3 {
  position: absolute;
  width: 230.48000000000002px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_8 {
  position: absolute;
  width: 30.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #8E8E93;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_8 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/e388c524-5c27-4c8d-8ec2-205d6fde630c.png');
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_8 > .borderLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_8 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_4 {
  position: absolute;
  width: 400.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_4 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_4 {
  position: absolute;
  width: 230.48000000000002px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_9 {
  position: absolute;
  width: 30.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #8E8E93;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_9 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/e388c524-5c27-4c8d-8ec2-205d6fde630c.png');
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_9 > .borderLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_9 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_9 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_12 {
  position: absolute;
  width: 399.99999999999955px;
  min-height: 58.66666666666674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_12 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D1D1D6;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_12 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_6 {
  position: absolute;
  width: 230.48000000000025px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Image_1 {
  position: absolute;
  width: 36.0px;
  height: 35.99999999999991px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Image_2 {
  position: absolute;
  width: 38.29986572265631px;
  height: 38.29986572265631px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_2 {
  position: absolute;
  width: 69.88964843749983px;
  min-height: 64.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-5312287d-6226-41b0-921c-ba4c19a11583 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}