#s-70398863-41f1-438c-be89-20b044069e9c > #backgroundBox {
  position: absolute;
}
#s-70398863-41f1-438c-be89-20b044069e9c > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Mask_1 {
  position: absolute;
  width: 102.00100708007812px;
  height: 102.44820404052734px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_2 {
  position: absolute;
  width: 30.000320434570312px;
  height: 30.13446044921875px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_3 {
  position: absolute;
  width: 17.5px;
  height: 13.6719970703125px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_1 {
  position: absolute;
  width: 300.5px;
  min-height: 27.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 14.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_2 {
  position: absolute;
  width: 320.0000000000001px;
  min-height: 24.600000000000364px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_2 span {
  color: #8D95A3;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #8D95A3;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_4 {
  position: absolute;
  width: 24.2833251953125px;
  height: 28.86285400390625px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_3 {
  position: absolute;
  width: 228.1620103164645px;
  min-height: 44.16019238487888px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_8 {
  position: absolute;
  width: 371.0244140625px;
  height: 2.0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_9 {
  position: absolute;
  width: 9.87420654296875px;
  height: 16.09710693359375px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_10 {
  position: absolute;
  width: 22.800872802734375px;
  height: 23.4188232421875px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_5 {
  position: absolute;
  width: 228.16201031646438px;
  min-height: 34.582390912142216px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_14 {
  position: absolute;
  width: 371.0244140625px;
  height: 2.0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_15 {
  position: absolute;
  width: 18.725830078125px;
  height: 21.393707275390625px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_16 {
  position: absolute;
  width: 9.87420654296875px;
  height: 15.086395263671875px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_7 {
  position: absolute;
  width: 228.16201031646438px;
  min-height: 32.18794054395778px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_11 {
  position: absolute;
  width: 371.0244140625px;
  height: 2.0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_12 {
  position: absolute;
  width: 9.87420654296875px;
  height: 14.0712890625px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_13 {
  position: absolute;
  width: 25.416839599609375px;
  height: 20.92633056640625px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_6 {
  position: absolute;
  width: 228.16201031646438px;
  min-height: 29.78316201306916px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_6 {
  position: absolute;
  width: 371.0244140625px;
  height: 2.0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_7 {
  position: absolute;
  width: 9.87420654296875px;
  height: 14.92401123046875px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_4 {
  position: absolute;
  width: 228.16201031646438px;
  min-height: 31.803131316173562px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Poppins',Arial;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Poppins',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Image_3 {
  position: absolute;
  width: 30.000000000000014px;
  height: 30.000000000000107px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-70398863-41f1-438c-be89-20b044069e9c #s-Path_5 {
  position: absolute;
  width: 26.637739181518555px;
  height: 21.493881225585938px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-70398863-41f1-438c-be89-20b044069e9c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}