#s-84cd01c1-cede-4c22-a146-417f80b8721f > #backgroundBox {
  position: absolute;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_1 {
  position: absolute;
  width: 433.2288732394366px;
  height: 939.2137404580159px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_71 {
  position: absolute;
  width: 65.30373831775728px;
  min-height: 67.58372360970259px;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_71 > .backgroundLayer {
  border-top-left-radius: 34.0px;
  border-top-right-radius: 34.0px;
  border-bottom-right-radius: 34.0px;
  border-bottom-left-radius: 34.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_71 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,0,0,0.5);
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_71 > .borderLayer {
  border-top-left-radius: 34.0px;
  border-top-right-radius: 34.0px;
  border-bottom-right-radius: 34.0px;
  border-bottom-left-radius: 34.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_71 > .backgroundLayer {
  border-top-left-radius: 34.0px;
  border-top-right-radius: 34.0px;
  border-bottom-right-radius: 34.0px;
  border-bottom-left-radius: 34.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_71 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_71 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_71 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_71 span#rtr-s-Rectangle_71_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Path_20 {
  position: absolute;
  width: 14.7842435836792px;
  height: 32.01398468017578px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_72 {
  position: absolute;
  width: 65.30373831775728px;
  min-height: 67.58372360970259px;
  opacity: 0.6;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_72 > .backgroundLayer {
  border-top-left-radius: 34.0px;
  border-top-right-radius: 34.0px;
  border-bottom-right-radius: 34.0px;
  border-bottom-left-radius: 34.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_72 > .backgroundLayer > .colorLayer {
  background-color: rgba(0,0,0,0.5);
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_72 > .borderLayer {
  border-top-left-radius: 34.0px;
  border-top-right-radius: 34.0px;
  border-bottom-right-radius: 34.0px;
  border-bottom-left-radius: 34.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_72 > .backgroundLayer {
  border-top-left-radius: 34.0px;
  border-top-right-radius: 34.0px;
  border-bottom-right-radius: 34.0px;
  border-bottom-left-radius: 34.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_72 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_72 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_72 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_72 span#rtr-s-Rectangle_72_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Path_21 {
  position: absolute;
  width: 29.735370635986328px;
  height: 23.242443084716797px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Date-Label_3 {
  position: absolute;
  width: 376.75233644859827px;
  min-height: 29.1129886318717px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt200',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Date-Label_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Date-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Date-Label_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt200',Arial;
  font-size: 14.0pt;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Date-Label_3 span#rtr-s-Date-Label_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt200',Arial;
  font-size: 14.0pt;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Time-Label_3 {
  position: absolute;
  width: 261.2149532710281px;
  min-height: 154.9226895053185px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Time-Label_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Time-Label_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Time-Label_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 63.0pt;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Time-Label_3 span#rtr-s-Time-Label_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 63.0pt;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Path_103 {
  position: absolute;
  width: 18.03999900817871px;
  height: 26.08564567565918px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rect_8 {
  position: absolute;
  width: 135.0px;
  height: 5.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Panel_1 {
  width: 399.9999999999996px;
  height: 318.16337576260014px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_1 {
  position: absolute;
  width: 400.0px;
  min-height: 58.0px;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F8F8F8;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_1 .paddingLayer {
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_1 span {
  color: #F8F8F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #F8F8F8;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_4 {
  position: absolute;
  width: 133.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.25pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.25pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_5 {
  position: absolute;
  width: 282.9999999999985px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.75pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.75pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_5 {
  position: absolute;
  width: 46.0px;
  height: 45.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_5 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_5 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_5 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_15 {
  position: absolute;
  width: 94.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: right;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_15 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_6 {
  position: absolute;
  width: 16.0px;
  height: 20.571428571428793px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_3 {
  position: absolute;
  width: 400.0px;
  min-height: 58.0px;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #F8F8F8;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_3 .paddingLayer {
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_3 span {
  color: #F8F8F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #F8F8F8;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_6 {
  position: absolute;
  width: 245.0px;
  min-height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.25pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.25pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_7 {
  position: absolute;
  width: 267.99999999999955px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.75pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.75pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_14 {
  position: absolute;
  width: 94.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: right;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_14 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_3 {
  position: absolute;
  width: 45.18695188318753px;
  height: 45.186951883187376px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_3 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_14 {
  position: absolute;
  width: 16.468085106382887px;
  min-height: 20.210832586769925px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_14 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_14 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/dc081559-fa0a-4ade-a134-a914570faee9.png');
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_14 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_14 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Group_12 {
  z-index: 100;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Path_5 {
  position: absolute;
  width: 358.0px;
  height: 9.8182373046875px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_11 {
  position: absolute;
  width: 400.0px;
  min-height: 71.18182122937321px;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #F8F8F8;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_11 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_11 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_11 .paddingLayer {
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_11 span {
  color: #F8F8F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #F8F8F8;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_10 {
  position: absolute;
  width: 272.9999999999993px;
  min-height: 41.72727451377034px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.25pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 11.25pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_11 {
  position: absolute;
  width: 272.9999999999998px;
  min-height: 41.72727451377045px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.75pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.75pt;
  line-height: 17px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_12 {
  position: absolute;
  width: 94.0px;
  min-height: 27.000001155969017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: right;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_12 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Hotspot_1 {
  position: absolute;
  width: 388.9999999999998px;
  height: 65.0454573302892px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_4 {
  position: absolute;
  width: 46.0px;
  height: 45.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_4 > .borderLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 15.0px;
  border-top-right-radius: 15.0px;
  border-bottom-right-radius: 15.0px;
  border-bottom-left-radius: 15.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_6 {
  position: absolute;
  width: 16.468085106382887px;
  min-height: 20.210832586769925px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_6 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/dc081559-fa0a-4ade-a134-a914570faee9.png');
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_6 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_6 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f #s-Group_12 > * {
  z-index: 100;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-84cd01c1-cede-4c22-a146-417f80b8721f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}