#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c > #backgroundBox {
  position: absolute;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_1 {
  position: absolute;
  width: 332.5155944824219px;
  height: 1.1478118896484375px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_2 {
  position: absolute;
  width: 332.5155944824219px;
  height: 1.147796630859375px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_3 {
  position: absolute;
  width: 332.5155944824219px;
  height: 1.1478271484375px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_4 {
  position: absolute;
  width: 332.5155944824219px;
  height: 1.147796630859375px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_5 {
  position: absolute;
  width: 332.5155944824219px;
  height: 1.147796630859375px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_6 {
  position: absolute;
  width: 332.5155944824219px;
  height: 165.28436279296875px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Mask_1 {
  position: absolute;
  width: 334.5155944824219px;
  height: 167.28436279296875px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_1 span {
  color: #272D4D;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #272D4D;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_2 span {
  color: #363636;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #363636;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_8 {
  position: absolute;
  width: 332.5155944824219px;
  height: 125.11111450195312px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Mask_2 {
  position: absolute;
  width: 334.5155944824219px;
  height: 127.11111450195312px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_3 span {
  color: #262C4C;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #262C4C;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_4 span {
  color: #363636;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #363636;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_10 {
  position: absolute;
  width: 332.5155944824219px;
  height: 82.64218139648438px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Mask_3 {
  position: absolute;
  width: 334.5155944824219px;
  height: 84.64218139648438px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_5 {
  position: absolute;
  width: 179.4827410904618px;
  min-height: 22.95616569297954px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_5 span {
  color: #272D4D;
  text-align: left;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #272D4D;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_6 span {
  color: #363636;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #363636;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_24 {
  position: absolute;
  width: 34.61589431762695px;
  height: 42.519256591796875px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_7 {
  position: absolute;
  width: 35.38883026786698px;
  min-height: 36.729865108767285px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_7 span {
  color: #787D93;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #787D93;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_8 {
  position: absolute;
  width: 44.323180097615705px;
  min-height: 36.7298651087674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_8 span {
  color: #787D93;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #787D93;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_9 {
  position: absolute;
  width: 52.587912736485805px;
  min-height: 43.61671481666144px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_9 span {
  color: #787D93;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #787D93;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_10 {
  position: absolute;
  width: 35.38883026786698px;
  min-height: 36.72986510876706px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_10 span {
  color: #787D93;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #787D93;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_11 {
  position: absolute;
  width: 52.587912736485805px;
  min-height: 36.72986510876774px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_11 span {
  color: #787D93;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #787D93;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_12 {
  position: absolute;
  width: 35.38883026786698px;
  min-height: 36.72986510876734px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_12 span {
  color: #787D93;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #787D93;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_13 {
  position: absolute;
  width: 35.38883026786698px;
  min-height: 36.72986510876734px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_13 span {
  color: #787D93;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #787D93;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_14 {
  position: absolute;
  width: 52.587912736485805px;
  min-height: 36.7298651087674px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_14 span {
  color: #787D93;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #787D93;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_12 {
  position: absolute;
  width: 428.8304443359375px;
  height: 75.75537109375px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_13 {
  position: absolute;
  width: 26.37192726135254px;
  height: 25.8496036529541px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Hotspot_1 {
  position: absolute;
  width: 57.33027489539768px;
  height: 57.390414232448734px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-4.898587196589413E-16px 8.0px 17px rgba(149,162,192,0.2));
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Ellipse_1 {
  width: 67.64972437656934px;
  height: 67.7206887942898px;
  min-height: 67.7206887942898px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #7736DB;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_14 {
  position: absolute;
  width: 22.932109832763672px;
  height: 22.956165313720703px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Hotspot_2 {
  position: absolute;
  width: 77.969173857741px;
  height: 78.05096335613086px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_15 {
  position: absolute;
  width: 25.22532081604004px;
  height: 25.804916381835938px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_16 {
  position: absolute;
  width: 24.23210906982422px;
  height: 27.46041488647461px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Hotspot_3 {
  position: absolute;
  width: 57.33027489539768px;
  height: 57.390414232448734px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_17 {
  position: absolute;
  width: 21.785503387451172px;
  height: 21.80835723876953px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Hotspot_4 {
  position: absolute;
  width: 57.33027489539768px;
  height: 57.390414232448734px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Rectangle_4 {
  position: absolute;
  width: 429.97706171548384px;
  min-height: 218.083574083306px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-4.898587196589413E-16px 8.0px 17px rgba(149,162,192,0.2));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #7736DB;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_15 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_16 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_16 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_17 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_18 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_18 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_19 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_19 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_20 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_20 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_21 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 9.75pt;
  font-style: normal;
  font-weight: 300;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_22 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_22 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Ellipse_2 {
  width: 38.98458692887016px;
  height: 39.02548167806518px;
  min-height: 39.02548167806518px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_23 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_23 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_24 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_24 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_25 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_25 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_26 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_26 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_26 span {
  color: #7736DB;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #7736DB;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_27 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_27 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_27 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_28 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lato',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_28 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lato',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_18 {
  position: absolute;
  width: 17.6624755859375px;
  height: 10.207080841064453px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Hotspot_5 {
  position: absolute;
  width: 47.01082541422602px;
  height: 45.91233138595919px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_22 {
  position: absolute;
  width: 3.4398193359375px;
  height: 17.153858184814453px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_29 {
  position: absolute;
  width: 92.53125px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Lora',Arial;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: center;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_29 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Lora',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c #s-Path_23 {
  position: absolute;
  width: 26.637739181518555px;
  height: 21.493881225585938px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8d009c0e-82a9-4dcf-a64e-db9ce8510b4c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}