#s-921a5326-158d-4234-be7c-2d09276c751d > #backgroundBox {
  position: absolute;
}
#s-921a5326-158d-4234-be7c-2d09276c751d > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_1 {
  position: absolute;
  width: 432.99999999999955px;
  min-height: 795.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,94,91,0.57);
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_2 {
  position: absolute;
  width: 361.7812994605781px;
  min-height: 423.9999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #49454E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #49454E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #49454E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #49454E;
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 12.0px;
  border-bottom-left-radius: 12.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_1 {
  position: absolute;
  width: 137.1081994770977px;
  min-height: 46.0155038759691px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #79747E;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #79747E;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #79747E;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #79747E;
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_1 .paddingLayer {
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_1 span {
  color: #6750A4;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #6750A4;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_2 {
  position: absolute;
  width: 137.10819947709797px;
  min-height: 46.01550387596899px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Medium_wgt500',Arial;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #6750A4;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_2 > .borderLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 19.0px;
  border-top-right-radius: 19.0px;
  border-bottom-right-radius: 19.0px;
  border-bottom-left-radius: 19.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_2 .paddingLayer {
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 10px;
  padding-left: 24px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Medium_wgt500',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.1px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_1 {
  position: absolute;
  width: 326.06403741192173px;
  min-height: 59.162790697674154px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_1 span {
  color: #49454E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.4px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #49454E;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 10.5pt;
  letter-spacing: 0.4px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_2 span {
  color: #563F1B;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 15.0pt;
  letter-spacing: 0.25px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #563F1B;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 15.0pt;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_3 span {
  color: #1C1B1F;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #1C1B1F;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_3 {
  position: absolute;
  width: 359.4769599735681px;
  min-height: 194.81214664568282px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFD8E4;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 12.0px;
  border-top-right-radius: 12.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_4 span {
  color: #1C1B1F;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #1C1B1F;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 16.5pt;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Image_1 {
  position: absolute;
  width: 66.82584512329161px;
  height: 66.82584512329161px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Image_2 {
  position: absolute;
  width: 66.8258451232914px;
  height: 66.82584512329129px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Path_1 {
  position: absolute;
  width: 22.789918899536133px;
  height: 20.696619033813477px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Path_2 {
  position: absolute;
  width: 22.789918899536133px;
  height: 20.696619033813477px;
}
#s-921a5326-158d-4234-be7c-2d09276c751d #s-Image_3 {
  position: absolute;
  width: 66.82584512329112px;
  height: 66.82584512329134px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-921a5326-158d-4234-be7c-2d09276c751d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}