#s-be7104d7-453a-42cb-92fc-2070d7700d16 > #backgroundBox {
  position: absolute;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Image_4 {
  position: absolute;
  width: 412.0000000000001px;
  height: 337.0367117202564px;
  opacity: 0.18;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Image_5 {
  position: absolute;
  width: 412.0000000000001px;
  height: 337.0367117202564px;
  opacity: 0.18;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_3 {
  position: absolute;
  width: 67.62250190860102px;
  min-height: 69.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_3 .paddingLayer {
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 10px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_3 span {
  color: #403B3B;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #403B3B;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Input_2 input::-webkit-input-placeholder {
  color: #847C80;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Input_2 input::-moz-placeholder {
  color: #847C80;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Input_2 input:-moz-placeholder {
  color: #847C80;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Input_2 input:-ms-input-placeholder {
  color: #847C80;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Input_2 {
  position: absolute;
  width: 297.9999999999999px;
  height: 164.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Input_2 .valign {
  vertical-align: top;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: radial-gradient(55.03355704697991% 100.0% at 50.0% 50.0%, #BACAB9 0.0%, #D4E8D6 21.53846153846154%, #E3F1E3 50.15384615384616%, #EFF5EF 83.38461538461537%, #FBFBFB 100.0%);
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Input_2 .paddingLayer {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Image_1 .imageViewport > * {
  width: 100.0%;
  height: 146.35824856424424%;
  left: -0.0%;
  top: -46.35824856424415%;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Image_1 img, #s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Image_1 svg {
  transform: rotateY(180deg) ;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Image_1 {
  position: absolute;
  width: 284.2297297297298px;
  height: 55.34365216487595px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Table_1 {
  position: absolute;
  width: 297.9999999999999px;
  height: 43.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Cell_3 .verticalalign {
  vertical-align: middle;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Cell_3 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Cell_3 {
  width: 100.0%;
  height: 100.0%;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Dynamic_Panel_1 {
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Panel_1 {
  width: 92.0%;
  height: 44.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_1 {
  position: absolute;
  width: 100.0%;
  min-height: 2.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #AEAEB2;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_2 {
  position: absolute;
  width: 170.0px;
  min-height: 2.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #0AFF3C;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_2 span {
  color: #11C11D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 12.0pt;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #11C11D;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 12.0pt;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  opacity: 0.99;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(2.1213203435596424px 2.121320343559643px 1px rgba(0,0,0,0.1));
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Ellipse_1 {
  width: 30.0px;
  height: 30.0px;
  min-height: 30.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #E5E5EA;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #shapewrapper-s-Ellipse_1 span {
  color: #067E18;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 12.0pt;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #067E18;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 12.0pt;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_1 {
  position: absolute;
  width: 122.54687500000057px;
  min-height: 32.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(83,211,109,0.62);
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Image_2 .imageViewport > * {
  width: 100.00000000000007%;
  height: 131.34204051505534%;
  left: -0.0%;
  top: -31.342040515055352%;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Image_2 {
  position: absolute;
  width: 155.0000000000009px;
  height: 163.07342344051426px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  contrast(100.0%);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_2 {
  position: absolute;
  width: 122.54687500000023px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #64BC73;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_3 {
  position: absolute;
  width: 122.54687500000057px;
  min-height: 26.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: rgba(66,164,69,0.63);
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Path_1 {
  position: absolute;
  width: 26.637739181518555px;
  height: 21.493881225585938px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Image_3 .imageViewport > * {
  width: 110.1272286097366%;
  height: 124.9077051081648%;
  left: -4.904585763332723%;
  top: -11.347546982474352%;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Image_3 {
  position: absolute;
  width: 109.01928290613722px;
  height: 76.97171052769082px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Image_3 > .borderLayer {
  border-top-width: 2.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_1 {
  position: absolute;
  width: 301.78941204049977px;
  min-height: 69.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(90.0deg, #BACAB9 0.001%, #64BC73 98.54545454545456%, #E3F1E3 100.0%);
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_1 .paddingLayer {
  padding-top: 12px;
  padding-right: 15px;
  padding-bottom: 9px;
  padding-left: 10px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_1 span {
  color: #403B3B;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #403B3B;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-be7104d7-453a-42cb-92fc-2070d7700d16 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}