#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 > #backgroundBox {
  position: absolute;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Button_1 {
  position: absolute;
  width: 85.0px;
  min-height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #F3ED2F;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Button_1 > .borderLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_9 {
  position: absolute;
  width: 413.00000000000006px;
  min-height: 607.5518443488106px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_20 {
  position: absolute;
  width: 404.65656565656553px;
  min-height: 82.82658711355566px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_20 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_20 > .backgroundLayer > .colorLayer {
  background-color: #E5E059;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_20 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_20 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_43 {
  position: absolute;
  width: 141.97689788510124px;
  min-height: 32.00118138478285px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_43 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_43 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_43 span#rtr-s-Paragraph_43_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_21 {
  position: absolute;
  width: 404.65656565656553px;
  min-height: 82.8265871135556px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_21 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_21 > .backgroundLayer > .colorLayer {
  background-color: #D8DC71;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_21 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_21 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_21 span#rtr-s-Rectangle_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_44 {
  position: absolute;
  width: 141.97689788510124px;
  min-height: 32.00118138478285px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_44 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_44 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_44 span#rtr-s-Paragraph_44_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_22 {
  position: absolute;
  width: 404.65656565656553px;
  min-height: 82.82658711355555px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_22 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_22 > .backgroundLayer > .colorLayer {
  background-color: #CBD789;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_22 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_22 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_45 {
  position: absolute;
  width: 141.97689788510124px;
  min-height: 32.00118138478285px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_45 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_45 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_45 span#rtr-s-Paragraph_45_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_23 {
  position: absolute;
  width: 404.65656565656553px;
  min-height: 82.82658711355566px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_23 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_23 > .backgroundLayer > .colorLayer {
  background-color: #A3CAD2;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_23 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_23 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_46 {
  position: absolute;
  width: 209.97689788510127px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_46 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_46 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_46 span#rtr-s-Paragraph_46_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_24 {
  position: absolute;
  width: 404.65656565656553px;
  min-height: 82.82658711355555px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_24 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_24 > .backgroundLayer > .colorLayer {
  background-color: #B0CFBA;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_24 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_24 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_24 span#rtr-s-Rectangle_24_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_47 {
  position: absolute;
  width: 217.97689788510127px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_47 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_47 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_47 span#rtr-s-Paragraph_47_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_42 {
  position: absolute;
  width: 404.65656565656553px;
  min-height: 82.82658711355538px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_42 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_42 > .backgroundLayer > .colorLayer {
  background-color: #BED8A2;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_42 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_42 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_42 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_42 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_42 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_42 span#rtr-s-Rectangle_42_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_65 {
  position: absolute;
  width: 226.97689788510127px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_65 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_65 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_65 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_65 span#rtr-s-Paragraph_65_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_2 {
  position: absolute;
  width: 141.97689788510124px;
  min-height: 32.00118138478297px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Path_2 {
  position: absolute;
  width: 16.0px;
  height: 14.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Path_1 {
  position: absolute;
  width: 16.0px;
  height: 14.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Path_3 {
  position: absolute;
  width: 16.0px;
  height: 14.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Path_4 {
  position: absolute;
  width: 16.0px;
  height: 14.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Path_6 {
  position: absolute;
  width: 16.0px;
  height: 14.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Path_7 {
  position: absolute;
  width: 16.0px;
  height: 14.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Mask_1 {
  position: absolute;
  width: 68.0009994506836px;
  height: 69.44819641113281px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_1 {
  position: absolute;
  width: 143.0px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 {
  position: absolute;
  width: 164.50000000000028px;
  height: 40.16141975984965px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 .valign {
  vertical-align: middle;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 input {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 > .backgroundLayer > .colorLayer {
  background-color: #BED8A2;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Path_12 {
  position: absolute;
  width: 54.55012512207031px;
  height: 41.34608840942383px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Path_246 {
  position: absolute;
  width: 42.224937438964844px;
  height: 38.90288543701172px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_1.checked > .backgroundLayer {
  background-image: url('../../images/ecfcbaf7-182a-451f-95b1-23bd1f4bd323.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_1.unchecked > .backgroundLayer {
  background-image: url('../../images/0e0bae97-36e2-41b3-a60e-4f587f21953f.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Input_1 {
  position: absolute;
  width: 49.01984330717926px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Path_9 {
  position: absolute;
  width: 35.19596481323242px;
  height: 40.42439651489258px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Path_5 {
  position: absolute;
  width: 26.637739181518555px;
  height: 21.493881225585938px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_1 {
  position: absolute;
  width: 404.65656565656553px;
  min-height: 82.82658711355566px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #86B8C2;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_1 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_3 {
  position: absolute;
  width: 209.97689788510127px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 17px;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 #s-Path_10 {
  position: absolute;
  width: 57.33295440673828px;
  height: 49.65528106689453px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d7764132-dfab-4473-9dcf-aa0a8b896de5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}