#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 > #backgroundBox {
  position: absolute;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Image_1 .imageViewport > * {
  width: 102.17565724616549%;
  height: 99.99999999999996%;
  left: -2.1756572461654877%;
  top: -0.0%;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Image_1 {
  position: absolute;
  width: 283.5610670411953px;
  height: 120.19863458600804px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Image_2 {
  position: absolute;
  width: 55.0px;
  height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 {
  position: absolute;
  width: 400.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 .valign {
  vertical-align: middle;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Subtraction_5 {
  position: absolute;
  width: 18.00006103515625px;
  height: 17.99981689453125px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 input::-webkit-input-placeholder {
  color: #AEAEB2;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 input::-moz-placeholder {
  color: #AEAEB2;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 input:-moz-placeholder {
  color: #AEAEB2;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 input:-ms-input-placeholder {
  color: #AEAEB2;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 {
  position: absolute;
  width: 400.0px;
  height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 > .borderLayer {
  border-top-width: 1.5px;
  border-top-style: solid;
  border-top-color: #E5E5EA;
  border-right-width: 1.5px;
  border-right-style: solid;
  border-right-color: #E5E5EA;
  border-bottom-width: 1.5px;
  border-bottom-style: solid;
  border-bottom-color: #E5E5EA;
  border-left-width: 1.5px;
  border-left-style: solid;
  border-left-color: #E5E5EA;
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 35px;
  padding-bottom: 0px;
  padding-left: 10px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Path_2 {
  position: absolute;
  width: 18.00006103515625px;
  height: 17.99981689453125px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Button_1 {
  position: absolute;
  width: 145.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #28587B;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Button_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Path_3 {
  position: absolute;
  width: 165.367919921875px;
  height: 2.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Path_4 {
  position: absolute;
  width: 165.367919921875px;
  height: 2.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Paragraph_1 {
  position: absolute;
  width: 40.99999999999977px;
  min-height: 24.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Paragraph_1 span {
  color: #D9D9D9;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #D9D9D9;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Paragraph_2 span {
  color: #348EB7;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 18.0pt;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #348EB7;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 18.0pt;
  letter-spacing: 1.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Path_5 {
  position: absolute;
  width: 58.113311767578125px;
  height: 51.056396484375px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Path_6 {
  position: absolute;
  width: 24.24342155456543px;
  height: 40.57451629638672px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Path_7 {
  position: absolute;
  width: 40.0px;
  height: 40.0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Path_8 {
  position: absolute;
  width: 31.312000274658203px;
  height: 15.510000228881836px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Path_9 {
  position: absolute;
  width: 31.214000701904297px;
  height: 15.945999145507812px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Path_10 {
  position: absolute;
  width: 20.0px;
  height: 18.828243255615234px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Image_3 {
  position: absolute;
  width: 133.14823237873208px;
  height: 133.14823237873202px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 #s-Path_1 {
  position: absolute;
  width: 26.637739181518555px;
  height: 21.493881225585938px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f1fde6f8-6c87-4f71-bf1b-606bf23aa173 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}