#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e > #backgroundBox {
  position: absolute;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e > #alignmentBox {
  position: relative;
  max-width: 430.0px;
  max-height: 932.0px;
  width: 100%;
  height: 100%;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_1 {
  position: absolute;
  width: 432.99999999999955px;
  min-height: 795.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,94,91,0.57);
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_16 {
  position: absolute;
  width: 399.9999999999999px;
  min-height: 80.0px;
  opacity: 0.7;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_16 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_16 > .backgroundLayer > .colorLayer {
  background-color: #FFFFEA;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_16 > .borderLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_16 > .backgroundLayer {
  border-top-left-radius: 14.0px;
  border-top-right-radius: 14.0px;
  border-bottom-right-radius: 14.0px;
  border-bottom-left-radius: 14.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_16 .paddingLayer {
  padding-top: 20px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_16 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_16 span {
  color: #F8F8F8;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #F8F8F8;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.75pt;
  line-height: 18px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_33 {
  position: absolute;
  width: 309.99999999999994px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_33 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_33 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  line-height: 17px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_33 span#rtr-s-Paragraph_33_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 12.0pt;
  line-height: 17px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_36 {
  position: absolute;
  width: 252.9999999999999px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_36 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.75pt;
  line-height: 17px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.75pt;
  line-height: 17px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_2 {
  position: absolute;
  width: 30.0px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #8E8E93;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/e388c524-5c27-4c8d-8ec2-205d6fde630c.png');
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 8.0px;
  border-top-right-radius: 8.0px;
  border-bottom-right-radius: 8.0px;
  border-bottom-left-radius: 8.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_37 {
  position: absolute;
  width: 94.0px;
  min-height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_37 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_37 .valign {
  vertical-align: top;
  text-align: right;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_37 span {
  color: #000000;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_37 span#rtr-s-Paragraph_37_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 9.0pt;
  line-height: 16px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Dynamic_Panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_3 {
  width: 432.4999999999991px;
  height: 283.0000000000001px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-bigTitle {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Bold_wgt700',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-bigTitle .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-bigTitle .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-bigTitle span {
  color: #8D0801;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 28.0pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-bigTitle span#rtr-s-bigTitle_0 {
  color: #8D0801;
  text-decoration: none;
  font-family: 'Roboto-Bold_wgt700',Arial;
  font-size: 28.0pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Mask_1 {
  position: absolute;
  width: 61.001007080078125px;
  height: 60.44822311401367px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Path_1 {
  position: absolute;
  width: 45.0px;
  height: 48.75px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_1 span {
  color: #563F1B;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 19.5pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #563F1B;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 19.5pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_3 {
  position: absolute;
  width: 414.3601720029908px;
  min-height: 66.0000000000004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFEA;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_2 {
  position: absolute;
  width: 117.17850282461598px;
  min-height: 29.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_2 span {
  color: #F83370;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #F83370;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_3 {
  position: absolute;
  width: 116.3217796101849px;
  min-height: 36.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_4 {
  position: absolute;
  width: 90.55016042082119px;
  min-height: 29.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_4 span {
  color: #F42F6E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #F42F6E;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_5 {
  position: absolute;
  width: 89.9832927943792px;
  min-height: 36.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_6 {
  position: absolute;
  width: 64.00929793052416px;
  min-height: 29.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: right;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_6 span {
  color: #F83370;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #F83370;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_7 {
  position: absolute;
  width: 75.66873800084659px;
  min-height: 36.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_7 span {
  color: #3ED9FD;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #3ED9FD;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_8 {
  position: absolute;
  width: 90.55016042082036px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_8 span {
  color: #F83370;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #F83370;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_9 {
  position: absolute;
  width: 89.9832927943796px;
  min-height: 36.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_9 span {
  color: #35B736;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_4 {
  position: absolute;
  width: 414.3601720029908px;
  min-height: 66.0000000000004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFEA;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_4 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_14 {
  position: absolute;
  width: 117.17850282461598px;
  min-height: 29.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_14 span {
  color: #F83370;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #F83370;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_15 {
  position: absolute;
  width: 116.3217796101849px;
  min-height: 36.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_15 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_16 {
  position: absolute;
  width: 90.55016042082119px;
  min-height: 29.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_16 span {
  color: #F42F6E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #F42F6E;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_17 {
  position: absolute;
  width: 89.9832927943792px;
  min-height: 36.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_17 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_18 {
  position: absolute;
  width: 64.00929793052416px;
  min-height: 29.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: right;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_18 span {
  color: #F83370;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #F83370;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_19 {
  position: absolute;
  width: 75.66873800084659px;
  min-height: 36.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_19 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_19 span {
  color: #3ED9FD;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #3ED9FD;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 500;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_20 {
  position: absolute;
  width: 90.55016042082036px;
  min-height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_20 span {
  color: #F83370;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #F83370;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 9.75pt;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_21 {
  position: absolute;
  width: 89.9832927943796px;
  min-height: 36.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_21 span {
  color: #35B736;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #35B736;
  text-decoration: none;
  font-family: 'Montserrat',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Path_2 {
  position: absolute;
  width: 26.637739181518555px;
  height: 21.493881225585938px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_12 {
  position: absolute;
  width: 411.8861301369875px;
  min-height: 380.9999999999995px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_12 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFEA;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_12 > .borderLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_12 > .backgroundLayer {
  border-top-left-radius: 27.0px;
  border-top-right-radius: 27.0px;
  border-bottom-right-radius: 27.0px;
  border-bottom-left-radius: 27.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_12 span {
  color: #FEE94E;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #FEE94E;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_12 span#rtr-s-Paragraph_12_1 {
  color: #F83370;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Dynamic_Panel_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_7 {
  width: 394.0699396205908px;
  height: 271.0000000000001px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_7 > .borderLayer > .layoutWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_22 {
  position: absolute;
  width: 237.01775926484675px;
  min-height: 271.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_22 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_22 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_22 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_22 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_32 {
  position: absolute;
  width: 176.01775926484675px;
  min-height: 69.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_32 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_32 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_32 span#rtr-s-Paragraph_32_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Image_6 {
  position: absolute;
  width: 76.69375963020047px;
  height: 76.69375963020035px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_34 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_34 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_23 {
  position: absolute;
  width: 237.01775926484675px;
  min-height: 271.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_23 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_23 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_23 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_23 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_35 {
  position: absolute;
  width: 176.01775926484675px;
  min-height: 69.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_35 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_38 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_38 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_38 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_38 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_38 span#rtr-s-Paragraph_38_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Image_2 {
  position: absolute;
  width: 66.3297380585519px;
  height: 66.3297380585519px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_8 {
  width: 1114.0177583769898px;
  height: 271.0000000000001px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_8 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Panel_8 .verticalalign {
  vertical-align: top;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_5 {
  position: absolute;
  width: 237.01775926484675px;
  min-height: 271.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_10 {
  position: absolute;
  width: 176.01775926484675px;
  min-height: 69.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_10 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_11 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_11 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Image_8 {
  position: absolute;
  width: 76.69375963020047px;
  height: 76.69375963020035px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Ellipse_8 {
  width: 31.72428278930483px;
  height: 58.0px;
  min-height: 58.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Path_95 {
  position: absolute;
  width: 4.61905574798584px;
  height: 14.727083206176758px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_9 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Ellipse_9 {
  width: 34.65126705095912px;
  height: 58.0px;
  min-height: 58.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Path_96 {
  position: absolute;
  width: 5.045166015625px;
  height: 14.727081298828125px;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Image_1 .imageViewport > * {
  width: 140.46607556487075%;
  height: 447.91408847984746%;
  left: -23.2573249150883%;
  top: -169.22206459079183%;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e #s-Image_1 {
  position: absolute;
  width: 474.1892546581689px;
  height: 83.64711399320458px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-fe9b791e-80f4-42eb-85dc-a6a2157fa64e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}